body {
    background: #eee;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    text-align: center;
}

h1 {
    color: #377ba8;
}

.loader {
    max-width: 24px;
    max-height: 24px;
}

.wikilinks-form {

}

.wikilinks-form-inputs {

}

.wikilinks-note {
    font-size: 10px;
}

.wikilinks-form-input-first, .wikilinks-form-input-second, .wikilinks-form-input-submit {
    display: inline-block;
}

.wikilinks-result {
    width: 40%;
    margin: 16px auto 0 auto;
    padding: 8px;
    background-color: #255474;
    color: #ffffff;
    border-radius: 5px;

    -webkit-box-shadow: 10px 9px 59px -8px rgba(0,0,0,0.33);
    -moz-box-shadow: 10px 9px 59px -8px rgba(0,0,0,0.33);
    box-shadow: 10px 9px 59px -8px rgba(0,0,0,0.33);
}

.wikilinks-no-result {
    font-size: 10px;
}


.wikilinks-link-wrapper {
    display: inline-block;
    padding: 8px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 5px;
}

.wikilinks-link {
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
}

.wikipedia-logo {
    height: 16px;
    margin-bottom: -2px;
}


.arrow-right {
    display: inline-block;
    width: 0; 
    height: 0; 
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 12px solid #ffffff;

    position: relative;
    top: 6px;
}
